@model IEnumerable<UrunYonetim6584.Entities.Category>

@foreach (var item in Model)
{
    <li>@Html.ActionLink(item.Name, "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
}





