
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Giriş</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Login.css" rel="stylesheet" /> @*Buraya Login için özel css dosyasını ekledik.*@
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        @Html.Raw(TempData["Message"])
        <form method="post">
            <div class="text-center">
                <img class="mb-4" src="~/Images/lockphoto.jpg" alt="" width="72" height="57">
            </div>

            <h1 class="h3 text-center mb-3 fw-normal">Lütfen Giriş Yapın</h1>

            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Şifre" required>
                <label for="floatingPassword">Şifre</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Beni Hatırla
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Giriş</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
    </main>
</body>
</html>
